@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

*{
    margin: 0;
    padding: 0;
}
h3{
    font-weight: bold !important;
}
body {
    font-family: 'Raleway', sans-serif !important;
}

//Login page
div.login-page{
    background-color: #ABCEDF;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 10vh 0;

    .panel{
        border-radius: 10px;
    }
    .right-panel{
        background-color: white;
        height: calc(80vh);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 32px 0px;
        width: 30vw;
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
        img.logo{
            width: 80px;
            align-self: center;
            padding-bottom: 12px;
        }
        h1{
            font-weight: 900;
            text-align: center;
            font-size: 32px;
        }
        div.social-credentials{
            display: flex;
            flex-direction: row;
            padding: 64px 0 32px;
            img{
                width: 32px !important;
                margin: 0px 16px;
            }
        }
        form{
            margin-top: 60px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            label{
                font-weight: 800;
            }
            input{
                background: rgba(211, 211, 211, 0.62);
                opacity: 0.2;
                border: 2px solid rgba(0, 0, 0, 0.27);
                border-radius: 10px;
                height: 32px;
                margin-bottom: 24px;
                width: 300px;
                color: black;
            }
            button{
                width: 300px;
                background: #003E5C;
                color: white;
                border-radius: 10px;
                height: 38px;
                border: 0;
                margin-top: 16px;
                font-weight: bold;
                font-size: 16px;
            }
        }
    }
    .left-panel{
        width: 30vw;
        height: 80vh;
        overflow: clip;
        img{
            height: 100%;
            border-radius: 10px;
        }
    }
}

.intervention-button {
    display: flex;
    justify-content: flex-end;
    color: white;
    text-decoration: none;
    button{
        background-color: #F24E1E;
        font-weight: bold;
    }
}

div.ticket-form{
    display: flex;
    justify-content: center;
    padding-top: 128px;
    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    h1{
        font-weight: 600;
        font-size: 32px;
        padding-bottom: 40px;
        opacity: 80%;
    }
    input, textarea {
        width: 100%;
        height: 39px;
        background: rgba(211, 211, 211, 0.62);
        opacity: 0.2;
        border: 2px solid rgba(0, 0, 0, 0.27);
        border-radius: 10px;
        margin-bottom: 32px;
    }
    textarea{
        height: 150px;
    }
    label{
        display: block;
        font-weight: bold;
    }
    button{
        background: #F24E1E;
        color: white;
        border: 0;
        padding: 8px 12px;
        border-radius: 10px;
        font-weight: bold;
        font-size: 20px;
    }
}


h3 {
    text-align: center;
}

h6 {
    text-align: center;
}

body{

    background: #d1d5db;
}



.height{

    height: 5vh;
}

.form{
    width: 450px;
    position: relative;
//margin-left: 90px;
}

div.machine-grid{
    display: flex;
    justify-content: center;
    padding: 0 0 5%;
}
div.machine-card{
    flex-basis: 22%;
    width: 22%;
    img{
        width: 100%;
    }
    a{
        text-decoration: none;
    }
    h1{
        font-size: 24px;
        color: black;
        text-decoration: none;
        margin-bottom: 16px;
    }
    span{
        font-weight: bold;
    }
}

div.cat-grid{
    display: flex;
    justify-content: center;
    padding-bottom: 96px;
}
div.cat-card{
    width: 7%;
    flex-basis: 7%;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 12px;
    margin-right: 16px;
    height: fit-content;
    a{
        text-decoration: none;
        color: black;
    }
    img{
        width: 100px;
        height: 100px;
    }
    p{
        font-weight: bold;
        padding-top: 12px;
        align-content: center;
        text-align: center;
    }
}
div.cat-card.active{
    border: 1px solid black;
}
p.cat-label{
    text-align: center;
    padding-top: 96px;
}
div.machine-info{
    display: flex;
    img{
        width: 50%;
    }
    div.machine-label{
        display: flex;
        flex-direction: column;
        justify-content: center;
        ul{
            list-style: none;
            li{
                margin-top: 32px;
                font-weight: bold;
                font-size: 20px;
            }
        }
        .label{
            background-color: #ABCEDF;
            padding: 5px 8px;
            border-radius: 8px;
            font-weight: bold;
            font-size: 15px;
            text-transform: uppercase;
        }
    }
}

h3.history{
    font-weight: bold;
    text-align: left;
}
.row-inter{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    margin: 20px 0;
    div.left span{
        margin-right: 16px;
    }
    .state{
        background-color: #ABCEDF;
        padding: 5px 8px;
        border-radius: 8px;
        font-weight: bold;
        font-size: 15px;
        text-transform: uppercase;
    }
}
.detailsmachine{
    margin-bottom: 64px;
}

.admin-container {
    display: flex;
}

.admin-container-right {
    height: 100%;
    flex: 70%;
}

.admin-container-left {
    height: 100%;
    flex: 30%;
}