{% extends 'base.html.twig' %}

{% block body %}
    {{ component('navbar') }}
    <br>
    <br>

    <h3 class="bold"> Mon parc d'équipements </h3>

    <br> </br>  
 
    
    <h1> Recherchez une machine </h1>
    

    


    <div class="row height d-flex justify-content-center align-items-center">

              <div class="col-md-6 d-flex justify-content-center">

                <div class="form">
                  <i class="fa fa-search"></i>
                  <input type="text" class="form-control form-input" placeholder="Rechercher...">
                  <span class="left-pan"><i class="fa fa-microphone"></i></span>
                </div>
                
              </div>
              
            </div>
            
          </div>

    <p class="cat-label">
        Choisir une catégorie
    </p>
    <div class="cat-grid">
            <div class="cat-card">
            <a href="/category/velo">
            <img src="/build/img/Vélo.jpg">
            <p>Vélo (3)</p>
            </a>
        </div>
        <div class="cat-card">
            <a href="/category/tapis">
            <img src="/build/img/tapis.jpg">
                <p>Tapis (7)</p></a>
        </div>
        <div class="cat-card">
            <img src="/build/img/bench.jpg">
            <p>Bench (8)</p>
        </div>
        <div class="cat-card">
            <img src="/build/img/19974.jpg">
            <p>Station (3)</p>
        </div>
        <div class="cat-card">
            <img src="/build/img/dvsq.jpg">
            <p>Banc (3)</p>
        </div>
        <div class="cat-card">
            <img src="/build/img/fds.jpg">
            <p>Pull (3)</p>
        </div>
        <div class="cat-card">
            <img src="/build/img/haltères.jpg">
            <p>Haltères (12)</p>
        </div>
        <div class="cat-card">
            <img src="/build/img/poids.jpg">
            <p>Poids (3)</p>
        </div>
        <div class="cat-card">
            <img src="/build/img/step.jpg">
            <p>Step (3)</p>
        </div>

    </div>
<div class="machine-grid">
    {% for machine in machines %}
        {{ component('card-machine', {
            id: machine.id,
            code: machine.code,
            name: machine.name,
            brand: machine.brand,
            category: machine.category,
            image: machine.image
        }) }}
    {% endfor %}
</div>
{% endblock %}