{% extends 'base.html.twig' %}

{% block body %}
    <h1>Hello user!</h1>

    {% for machine in machines %}
        {{ component('card-machine', {
            id: machine.id,
            code: machine.code,
            name: machine.name,
            brand: machine.brand,
            category: machine.category
        }) }}
    {% endfor %}
{% endblock %}