<div>
    {{ component('intervention-row', {
        id: id,
        date: date,
        title: title,
        description: description
    }) }}
    <button type="button" class="btn btn-success">Attribuer le ticket</button>
</div>