<div class="row-inter">
    <div class="left">
        <span class="state">Intervention</span>
        <span>{{ date | date('d-m-Y') }}</span>
        <span>{{ title }}</span>
    </div>
    <span>Voir +</span>
</div>